$main-color: #b661fb;
$secondary-color: #2e75ff;
$secondary-color-dark: #892eff;
$main-accent-color: whitesmoke;
$secondary-accent-color: #dbdddb;
$main-background-color: #110d12;
$secondary-background-color: #3f3446;
$hint-color: #38303f;
$hint-color-light: #e6e6e6;
$upload-border-color: #3d3446;
$upload-border-color-light: #d9d9d9;
$upload-button: #04d225;
$upload-button-dark: #8704d2;
$upload-button-box-shadow: #04d226bb;
$upload-button-box-shadow-dark: #8704d2bb;
$trash-button: black;
$trash-button-dark: white;
$side-container: #e0e0e0;
$side-container-dark: #1b1624;